@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    
    background-image: linear-gradient(to top, rgb(105, 105, 105), rgb(42, 40, 40));
    background-repeat: no-repeat;
    height: 100vh;
    
}

body form {
    background-image: linear-gradient(to top, rgb(105, 105, 105), rgb(42, 40, 40));
    position: relative;
    top: 10%;
    left: 60%;
    margin: 10px;
    padding: 10px;
    color: white;
    height: 80%;
    width: 35%;
    border: 1px solid black;
    border-radius: 20px;

}

form p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

form p input {
    height: 30px;
    width: 30vw;
    border-radius: 5px;
    
}

form #cabeçalho {
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    
}